*{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*/////////HEADER///////////*/

header{
  background-color: #290000;
  border-top: 5px solid #76c38f;
  width: 100%;
  min-height: 110px;
  display: flex;
}
.header_content{
  width: 100%;
  display: flex;
}
.logo{
	background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}
.header .logo{
    display: inline-block;
    width: 200px;
    margin-top: 38px;
}
.nav_bar{
    width: 100%; 
    background-color: none;
    display: flex;
}
.nav_bar ul {
  display: flex;
  width: 70%;
  margin-top: 4%;
  justify-content: space-around;
}
.nav_bar li {
    list-style: none;
    margin-left: 30px;
}
.nav_bar a{
	color: #FFF;
    text-decoration: none;
}
.nav_bar a:hover {
    color:#76c38f;
}

/*/////////////SLIDER SECTION/////////*/

.slider_content{
	width: 100%;
	background-color: #660000;
}
.slider_wrapper{
	width: 100%;
	min-height: 460px;
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 15%;
  	overflow: hidden;
}
.text_content{
  	width: 100%;
  	padding-top: 30%;
  	background-color: blue;
}
.text{
	width: 80%;
	background-color: khaki;
}
.text h1{
	color: #fff;
	font-size: 30px;
}
.text p {
	color: #aa9f99;
	font-size: 18px;
}
.text_content button{
	width: 50%;
	background-color: green;
	border-radius: 50px;
	margin-top: 20px;
}
.circle_content{
    width: 100%;
    background-color: green;
}
.circle{
    margin: .7em; 
    width: 80%;
    min-height: 380px;
    background: orange;
    background-size: cover;
    border-radius: 50%; 
    border: 23px solid #6b6b6b;
    position: relative;
}

/*/////////////TITLE SECTION//////////////*/

.title_content{
  width: 100%;
  background-color: #660000;
}
.title_section{
	display:grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-column-gap: 35px;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
}
.title_section .serv{
    width: 100%;
    min-height: 350px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.title_section .serv div {
    width: 60%;
    min-height: 120px;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-top: 15px;
}
.title_section .serv h1 {
    text-transform: uppercase;
    font-size: 26px ;
}
.title_section .serv p {
    font-size: 100%;
    color: #747171;
    background: none;
    text-align: center;
}
.title_section .serv:hover {
  background-color: #76c38f;
}
.title_section .serv:hover div{
    background-color: #fff;
    color: black;
}
.title_section .serv:hover p{
    color:#fff;
}
.title_section .serv:hover h1{
    color:#fff;
}

/*///////////////WORK SECTION///////////*/

.work_section{
	width: 100%;
	background-color: #660000;
}
.work_items{
	display:grid;
	grid-template-columns: 300px 300px 300px;
	grid-column-gap: 80px;
	justify-content: center;
	align-items: center;
}
.work_item{
  	width: 100%; 
    min-height: 200px;
    margin-top: 15px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #333;
    border: 5px solid white;
    text-align: center;
    overflow: hidden;
}
.work-title{
    width: 100%;
    min-height: 50px;
    background-color: #151515;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;  
}
.work_item:hover{
	border:5px solid #76c38f;
}
.work-title:hover{
    visibility: hidden;
    bottom: -50%;
}

/*/////////////FOOTER/////////////*/

.footer_content{
    min-height: 500px;
    width: 100%;
    background-color: #303030;
    overflow: hidden;
    display: flex;
}
.footer_sections{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-gap: 50px;
    padding-top: 50px;
    justify-content: center;
}
.link ul{
    list-style: none;
} 
.link ul li {
  border-bottom: 1px solid #404040;
  box-sizing: border-box;
  color: #76c38f;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
.link ul li:hover {
  color: #abe9be;
}
.contact_us input[type="contact"]{
  border:1px solid #f4f9f4;
  border-radius: 30px;
  display: inline-block;
  width: 200px;
  height: 37px;
  background-color: none;
}
.contact_us button{
  margin-top: 10px;
    color: #fff;
    background-color: #76c38f;
    border: 1px solid #76c38f;
    border-radius: 10px;
    height: 35px;
    width: 75px;
    line-height: 35px;
    cursor: pointer;
}
.contact_us button:hover{
  background-color: #429b5f;
  border:1px solid #429b5f;
}